{% extends 'base.html' %}


{% block title %}
LMS - Profile
{% endblock title %}


{% block body_content %}
<div class="container">
    {% if user.is_authenticated %}
    <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
    <h1>Nombre de usuario: {{user.username}}</h1>
    <h4>Nombre: {{user.first_name}}</h4>
    <h4>Apellido: {{user.last_name}}</h4>

    <h4>Tipo:
        {% if user.user_type == 1 %}
        Estudiante
        {% else %}
        Catedrático
        {% endif %}
    </h4>
    <h5>Email: {{user.email}}</h5>

    {% if user.user_type == 2 %}
    <div class="card-deck">
        {% for course in course_list %}

        {% if course.teacher.id == user.id %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{course.course_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                <p class="card-text">
                    {{course.course_description}}
                </p>
                <a href="{% url 'courses:detail' pk=course.pk %}" class="btn btn-primary card-link">Mas Información</a>
                <p>{{course.students.count}}
                    Miembro{{course.students.count|pluralize}}</p>
            </div>
        </div>
        {% endif %}

        {% empty %}
        <div class="jumbotron">
            Aún no has creado ningún curso.
        </div>
        {% endfor %}
    </div>
    {% elif user.user_type == 1 %}
    <div class="card-deck">
        {% for course in course_list %}

        {% if user in course.students.all %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{course.course_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                <p class="card-text">
                    {{course.course_description}}
                </p>
                <a href="{% url 'courses:detail' pk=course.pk %}" class="btn btn-primary card-link">Mas Información</a>
                <a href="{% url 'courses:unenroll' pk=course.pk %}" class="btn btn-danger card-link">Darse de baja</a>
                <p>{{course.students.count}}
                    Miembro{{course.students.count|pluralize}}</p>
            </div>
        </div>
        {% endif %}

        {% empty %}
        <div class="jumbotron">
            Aún no te has inscrito en ningún curso.
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <div class="jumbotron">
        No puedes acceder a este perfil.
    </div>
    {% endif %}

</div>
{% endblock body_content %}